html{
  font-size: 18px;
}
body{
  font-family: helvetica;
  display: block;
  margin: 0px;
}
.container{
  /* border: 1px solid green; */
  max-width: 960px;
  margin: 0 auto;
}
header{
  background-color: black;
  opacity: 0.8;
  color: white;
}
header .container{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
  padding: 0.66rem 0;
  font-weight: bold;
}
header nav{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.container nav span{
  padding: 0.5rem 0.75rem;
  font-family: Verdana;
  /* font-weight: normal; */
}
a{
  text-decoration: none;
  color: mediumaquamarine;
}

header img{
  height: 1.5rem;
  margin: 0 1rem 0 0.5rem;
}
#us {
  height: 25rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image:url("../images/backgroundblack.jpg");

}
